<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">注册</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeRegister()">取消</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">邮箱</span>
                    <input type="email" ng-model="registerData.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="registerData.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">确认密码</span>
                    <input type="password" ng-model="registerData.confirmPassword">
                </label>
                <p ng-if="error" class="assertive padding">{{error}}</p>
                <div class="row">
                    <div class="col col-50">
                        <button class="button button-block button-positive" type="submit">注册<ion-spinner ng-if="isLoading" icon="spiral"></ion-spinner></button>
                    </div>
                    <div class="col col-50">
                        <a ng-click="openLogin()" class="button button-block button-light">登录</a>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
