<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发帖</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePostForm()">取消</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addPost()">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">帖子分类</div>
                    <select ng-model="postData.category">
                        <option ng-repeat="category in categories">{{category}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="帖子标题" ng-model="postData.title">
                </label>
                <label class="item item-input">
                    <textarea rows="10" placeholder="帖子内容" ng-model="postData.content"></textarea>
                </label>
                <p class="padding assertive" ng-if="error">{{error}}</p>
                <div class="row">
                    <div class="col col-50">
                        <button class="button button-block button-positive" type="submit">发布<ion-spinner ng-if="isSavingPost" icon="spiral"></ion-spinner></button>
                    </div>
                    <div class="col col-50">
                        <a ng-click="closePostForm()" class="button button-block button-light">取消</a>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
