<ion-view view-title="搜索">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="keyword" placeholder="搜索">
            </label>
            <button class="button button-clear">
                清空
            </button>
        </div>
        <ion-spinner ng-if="isLoading" icon="crescent"></ion-spinner>
        <p class="assertive padding" ng-if="error">{{error}}</p>
        <ion-list>
            <ion-item ng-repeat="post in posts | orderBy:'-createdAt' | filter:keyword" href="#/app/posts/{{post.$id}}">
                <h2>{{post.title}}</h2>
                <small class="padding-top">{{post.authorName}} 发布于 {{post.createdAt | date:'MM-dd HH:mm'}}，评论数：{{post.commentCount || 0}}</small>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
